.NightMode {
  background-color:#0d1117;
  color: #8c8c8d;
}

.LightMode {
  background-color: #FFFBFF;
  color: black;
}

body {
  font-family: "General Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: black;
    background-color: #FFFBFF;
}